#console {
    background-color: black;
    color: yellowgreen;
    height: 260px;
}

.door-panel {
    margin-top: 10px;
    ;
}

.door-panel-btn-div {
    margin-bottom: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right:auto;
}

.hide {
    display: none;
}

.door-image:hover {
    cursor: pointer;
}

.door-image {
    max-width: 70%;
    height: auto;
}

.lemon-treasure {
    max-width: 90%;
    height: auto;
}

.host-selected-button {
    background-color: grey;
    color: white;
}

.winning-button {
    background-color: chartreuse;
}

.loosing-button {
    background-color: red;
}